body {
    /*background-color: #f0f0f0;*/
    /*color: #000;*/
    /*touch-action: none;*/
    /*margin: 0;*/
    /*overflow: hidden;*/
}

a {
    color: #08e;
}

/*.selectBox {*/
/*    border: 1px solid #55aaff;*/
/*    background-color: rgba(75, 160, 255, 0.3);*/
/*    position: fixed;*/
/*}*/

#overlay {
    /*background-color: #ff0000;*/
    background: rgba(17,17,17,0.7);
    width: 250px;
    height: 455px;
    position: absolute;
    top: 0;
    left: 0;
}
