
.chartText {
    font-family: "RamaGothicM-Heavy",Impact,Haettenschweiler,"Franklin Gothic Bold",Charcoal,"Helvetica Inserat","Bitstream Vera Sans Bold","Arial Black",sans-serif;
    font-size: 1rem;
    font-weight: 100;
    margin-bottom: 10px;
    fill: #1072b8;
}
path.color0 {
    fill: #1072b8;
}

path.color1 {
    fill: #35526b;
}
